.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  background-color: transparent;
}

.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: #1abc9c;
  font-weight: bolder;
  text-decoration: underline;
}

#logout {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 4px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

#logout:hover {
  background-color: #148f77;
}

@media (max-width: 768px) {
  .navbar-items {
    flex-direction: column;
    align-items: center;
  }
  .navbar-item {
    margin: 10px 0;
  }
}
