.resume-preview-container {
  width: 8.27in;
  height: 11.55in;
  max-width: 100%;
  max-height: 11.55in;
  box-sizing: border-box;
  font-family: "Garamond", sans-serif;
  padding: 15px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.resume-holder-name {
  font-family: "Garamond", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0px;
}

.resume-section {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-heading {
  font-size: 1.1em;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

.section-content {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/*Contact Section*/
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contact-name {
  font-weight: bold;
  margin: 0;
  font-family: "Garamond", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

/*Education Section*/
.education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.degree-major {
  font-weight: bold;
}

/*Experience Section*/
.company-row,
.position-row,
.education-header,
.education-details,
.project-name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.projects-section-heading {
  text-transform: uppercase;
  font-size: 1.1em;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  margin-bottom: 5px;
}
