.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.dashboard-header {
  margin-top: 10px;
}

#resumeCreateButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ffa500;
  color: white;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.saved-resume-container{
  width: 100%;
  display: flex;
  margin-left: 10px;
  margin-top: 30px;
}

.saved-resumes-heading{
  position: absolute;
  margin-top: -30px;
  left: 10px;
}

.resume-cards-container{
  display: flex;
  padding: 10px;
}